html {overflow-y: scroll}

:root {
    --bgcolor: #EEEEE8;
    --fontcolor: #444;
    --linkcolor: #A76E6E;
    --visitedcolor: #551a8b;
    --precolor: #fff;
    --prebgcolor: #2A4242;
    --bqfont: black;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bgcolor: #223535;
        --fontcolor: white;
        --linkcolor: #5bf;
        --visitedcolor: #B8EC3D;
        --precolor: #000;
        --prebgcolor: #D5BDBD;
        --bqfont: black;
    }
}
body{
    text-wrap: wrap;
    max-width:800px;
    margin:40px auto;
    padding:0 10px;
    font:14px/1.5 monospace;
    color:var(--fontcolor);
    background: var(--bgcolor)
}
blockquote {
    /* COSMETICS */
    background: #bcb18192;
    border-left: 5px solid #BCB181;
    color: var(--bqfont);
    padding: 20px;
    height: auto;
}
blockquote:before {
    /* VERTICAL LINE ON LEFT */
    /* BORDER : THICKNESS STYLE COLOR */
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    height: auto;
}
blockquote p {
    display: inline;
}

a:link{
    color: var(--linkcolor);
    cursor: crosshair;
}
a:visited{
    color: var(--visitedcolor)
}
a:active{
    color: var(--visitedcolor);
    cursor: crosshair;
}
b{
    text-transform: lowercase;
}
h1,h2,h3{line-height:1.2}
.hanchor {
    font-size: 100%;
    visibility: hidden;
    margin-left: -1.3em;
}
h1:hover a, h2:hover a, h3:hover a, h4:hover a {visibility: visible;}
p > code{
    color: var(--precolor);
    background: var(--prebgcolor);
    padding:2px
}
code{
    color: var(--precolor);
    background: var(--prebgcolor);
    padding:2px
}
pre{
    /* color: var(--precolor);
    background: var(--prebgcolor); */
    /* padding:24px; */
    overflow-x: hidden;
    overflow-y: hidden;
}
pre > code {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding:24px;
    overflow-x: auto;
}
article{padding:24px 0}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
    opacity: 0;
}
figcaption:hover {
    opacity: 1;
}
figure {margin: auto}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto
}
footer aside {
    float: left;
}
.ascii-art {
    font: 20px/1.0 monospace;
    /* white-space: pre; */
}
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #24292f;
  background-color: #f6f8fa;
}
.highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kv {
  color: #cf222e;
}
.highlight .gr {
  color: #f6f8fa;
}
.highlight .gd {
  color: #82071e;
  background-color: #ffebe9;
}
.highlight .nb {
  color: #953800;
}
.highlight .nc {
  color: #953800;
}
.highlight .no {
  color: #953800;
}
.highlight .nn {
  color: #953800;
}
.highlight .sr {
  color: #116329;
}
.highlight .na {
  color: #116329;
}
.highlight .nt {
  color: #116329;
}
.highlight .gi {
  color: #116329;
  background-color: #dafbe1;
}
.highlight .ges {
  font-weight: bold;
  font-style: italic;
}
.highlight .kc {
  color: #0550ae;
}
.highlight .l, .highlight .ld, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #0550ae;
}
.highlight .sb {
  color: #0550ae;
}
.highlight .bp {
  color: #0550ae;
}
.highlight .ne {
  color: #0550ae;
}
.highlight .nl {
  color: #0550ae;
}
.highlight .py {
  color: #0550ae;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #0550ae;
}
.highlight .o, .highlight .ow {
  color: #0550ae;
}
.highlight .gh {
  color: #0550ae;
  font-weight: bold;
}
.highlight .gu {
  color: #0550ae;
  font-weight: bold;
}
.highlight .s, .highlight .sa, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .ss {
  color: #0a3069;
}
.highlight .nd {
  color: #8250df;
}
.highlight .nf, .highlight .fm {
  color: #8250df;
}
.highlight .err {
  color: #f6f8fa;
  background-color: #82071e;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #6e7781;
}
.highlight .gl {
  color: #6e7781;
}
.highlight .gt {
  color: #6e7781;
}
.highlight .ni {
  color: #24292f;
}
.highlight .si {
  color: #24292f;
}
.highlight .ge {
  color: #24292f;
  font-style: italic;
}
.highlight .gs {
  color: #24292f;
  font-weight: bold;
}
