html {overflow-y: scroll}

:root {
    --bgcolor: #EEEEE8;
    --fontcolor: #444;
    --linkcolor: #A76E6E;
    --visitedcolor: #551a8b;
    --precolor: #fff;
    --prebgcolor: #2A4242;
    --bqfont: black;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bgcolor: #223535;
        --fontcolor: white;
        --linkcolor: #5bf;
        --visitedcolor: #B8EC3D;
        --precolor: #000;
        --prebgcolor: #D5BDBD;
        --bqfont: black;
    }
}
body{
    text-wrap: wrap;
    max-width:800px;
    margin:40px auto;
    padding:0 10px;
    font:14px/1.5 monospace;
    color:var(--fontcolor);
    background: var(--bgcolor)
}
blockquote {
    /* COSMETICS */
    background: #bcb18192;
    border-left: 5px solid #BCB181;
    color: var(--bqfont);
    padding: 20px;
    height: auto;
}
blockquote:before {
    /* VERTICAL LINE ON LEFT */
    /* BORDER : THICKNESS STYLE COLOR */
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    height: auto;
}
blockquote p {
    display: inline;
}

a:link{
    color: var(--linkcolor);
    cursor: crosshair;
}
a:visited{
    color: var(--visitedcolor)
}
a:active{
    color: var(--visitedcolor);
    cursor: crosshair;
}
b{
    text-transform: lowercase;
}
h1,h2,h3{line-height:1.2}
.hanchor {
    font-size: 100%;
    visibility: hidden;
    margin-left: -1.3em;
}
h1:hover a, h2:hover a, h3:hover a, h4:hover a {visibility: visible;}
p > code{
    color: var(--precolor);
    background: var(--prebgcolor);
    padding:2px
}
code{
    /* color: var(--precolor);
    background: var(--prebgcolor); */
    padding:2px
}
pre{
    /* color: var(--precolor);
    background: var(--prebgcolor); */
    /* padding:24px; */
    overflow-x: hidden;
    overflow-y: hidden;
}
/* pre > code {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding:24px;
    overflow-x: auto;
} */
article{padding:24px 0}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
    opacity: 0;
}
figcaption:hover {
    opacity: 1;
}
figure {margin: auto}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto
}
footer aside {
    float: left;
}
.ascii-art {
    font: 20px/1.0 monospace;
    /* white-space: pre; */
}
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #fbf1c7;
  background-color: var(--prebgcolor);;
}
.highlight .err {
  color: #fb4934;
  background-color: var(--prebgcolor);;
  font-weight: bold;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #928374;
  font-style: italic;
}
.highlight .cp {
  color: #8ec07c;
}
.highlight .nt {
  color: #fb4934;
}
.highlight .o, .highlight .ow {
  color: #fbf1c7;
}
.highlight .p, .highlight .pi {
  color: #fbf1c7;
}
.highlight .gi {
  color: #b8bb26;
  background-color: var(--prebgcolor);;
}
.highlight .gd {
  color: #fb4934;
  background-color: var(--prebgcolor);;
}
.highlight .gh {
  color: #b8bb26;
  font-weight: bold;
}
.highlight .ge {
  font-style: italic;
}
.highlight .ges {
  font-weight: bold;
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #fb4934;
}
.highlight .kc {
  color: #d3869b;
}
.highlight .kt {
  color: #fabd2f;
}
.highlight .kd {
  color: #fe8019;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #b8bb26;
  font-style: italic;
}
.highlight .si {
  color: #b8bb26;
  font-style: italic;
}
.highlight .sr {
  color: #b8bb26;
  font-style: italic;
}
.highlight .sa {
  color: #fb4934;
}
.highlight .se {
  color: #fe8019;
}
.highlight .nn {
  color: #8ec07c;
}
.highlight .nc {
  color: #8ec07c;
}
.highlight .no {
  color: #d3869b;
}
.highlight .na {
  color: #b8bb26;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #d3869b;
}
.highlight .ss {
  color: #83a598;
}
