{{ define "main" }}
	<main>
		{{ $listtitle := .Title }}
		{{ if or .Title .Content }}
		<div>
			{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}
		<div class="container" style="width: 100%; white-space:nowrap;">
			<div style="width: auto; float:left;">
				<ul>
					{{ range .Paginator.Pages }}
					<li>
						<div class="post-title">
							{{ if eq $listtitle "posts" }}
								{{ .Date.Format "2006-01-02" }} <a href="{{ .RelPermalink }}">{{.Title }}</a>
							{{ else }}
								<a href="{{ .RelPermalink }}">{{.Title }}</a>
							{{ end }}
						</div>
					</li>
					{{ end }}
				</ul>
				{{ partial "pagination.html" . }}
			</div>
			<div style="margin-left:101px; display:inline-block;">
					<figure role="img" aria-labelledby="ascii-ghost"> 
						<div class="ascii-art" aria-hidden="true">
      ████████
     █▓      ▓█
    █▓        ▓█
   █   ▒█  ▒█   █
   █   █▒  █▒   █
   █            █
   ▓▓          ▓▓
   ▒▓░        ░▓▒
   ▒▓▒░ ▓░ ▓░ ▒▓▒
   ░▒▒▒▓ ▒▓ ▒▓▒▒░
   ░▒░ ▒░ ▒░ ▒░
     ░  ░  ░  ░
						</div>
						<figcaption id="ascii-ghost" style="float:left;">
							ASCII art of a ghost.
						</figcaption>
						</figure>
			</div>
		</div>
		<div style="clear: both;"></div>
	</main>
{{ end }}
