<header>
	<figure role="img" aria-labelledby="ascii-caption"> 
	<div class="ascii-art" style="white-space:pre;" aria-hidden="true">
  █     █░ ▒█████   ██▀███  ▓█████▄  ██▒   █▓ ▒█████   ██▓▓█████▄ 
 ▓█░ █ ░█░▒██▒  ██▒▓██ ▒ ██▒▒██▀ ██▌▓██░   █▒▒██▒  ██▒▓██▒▒██▀ ██▌
 ▒█░ █ ░█ ▒██░  ██▒▓██ ░▄█ ▒░██   █▌ ▓██  █▒░▒██░  ██▒▒██▒░██   █▌
 ░█░ █ ░█ ▒██   ██░▒██▀▀█▄  ░▓█▄   ▌  ▒██ █░░▒██   ██░░██░░▓█▄   ▌
 ░░██▒██▓ ░ ████▓▒░░██▓ ▒██▒░▒████▓    ▒▀█░  ░ ████▓▒░░██░░▒████▓ 
 ░ ▓░▒ ▒  ░ ▒░▒░▒░ ░ ▒▓ ░▒▓░ ▒▒▓  ▒    ░ ▐░  ░ ▒░▒░▒░ ░▓   ▒▒▓  ▒ 
   ▒ ░ ░    ░ ▒ ▒░   ░▒ ░ ▒░ ░ ▒  ▒    ░ ░░    ░ ▒ ▒░  ▒ ░ ░ ▒  ▒ 
   ░   ░  ░ ░ ░ ▒    ░░   ░  ░ ░  ░      ░░  ░ ░ ░ ▒   ▒ ░ ░ ░  ░ 
     ░        ░ ░     ░        ░          ░      ░ ░   ░     ░    
		             ░           ░                 ░      
	</div>
	<figcaption id="ascii-caption">
		ASCII art that says the name of the blog: "wordvoid"
	   </figcaption>
	</figure>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "░" }}<br>
	▒▓ <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> ▓▒<br>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "░" }}
	<div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
	<p>
	<nav>
			<a href="/"><b>start</b></a>.
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>.
			{{ end }}
	</nav>
	</p>
	{{ end }}
</header>
